<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClG3delsA9nPWuaYzJ_XJXYDyK8W4-Uc0" defer></script>

<script>

  function show_confetti() {

    $('body > .content').prepend('<canvas id="confetti"></canvas>');
    console.log('insert dom');

    console.log('show_confetti()');

    var COLORS, Confetti, NUM_CONFETTI, PI_2, canvas, confetti, context, drawCircle, i, range, resizeWindow, xpos;

    NUM_CONFETTI = 350;

    COLORS = [[85, 71, 106], [174, 61, 99], [219, 56, 83], [244, 92, 68], [248, 182, 70]];

    PI_2 = 2 * Math.PI;

    canvas = document.getElementById("confetti");

    context = canvas.getContext("2d");

    window.w = canvas.width = window.innerWidth;

    window.h = canvas.height = ($('body > .content').height() + 88);

    // resizeWindow = function() {
    //   window.w = canvas.width = window.innerWidth;
    //   return window.h = canvas.height = ($('body > .content').height() + 88);
    // };

    // window.addEventListener('resize', resizeWindow, false);

    // window.onload = function() {
    //   return setTimeout(resizeWindow, 0);
    // };

    range = function(a, b) {
      return (b - a) * Math.random() + a;
    };

    drawCircle = function(x, y, r, style) {
      context.beginPath();
      context.arc(x, y, r, 0, PI_2, false);
      context.fillStyle = style;
      return context.fill();
    };

    xpos = 0.5;

    document.onmousemove = function(e) {
      return xpos = e.pageX / w;
    };

    window.requestAnimationFrame = (function() {
      return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(callback) {
        return window.setTimeout(callback, 1000 / 60);
      };
    })();

    Confetti = (function() {
      function Confetti() {
        this.style = COLORS[~~range(0, 5)];
        this.rgb = "rgba(" + this.style[0] + "," + this.style[1] + "," + this.style[2];
        this.r = ~~range(2, 6);
        this.r2 = 2 * this.r;
        this.replace();
      }

      Confetti.prototype.replace = function() {
        this.opacity = 0;
        this.dop = 0.03 * range(1, 4);
        this.x = range(-this.r2, w - this.r2);
        this.y = range(-20, h - this.r2);
        this.xmax = w - this.r;
        this.ymax = h - this.r;
        this.vx = range(0, 2) + 8 * xpos - 5;
        return this.vy = 0.7 * this.r + range(-1, 1);
      };

      Confetti.prototype.draw = function() {
        var ref;
        this.x += this.vx;
        this.y += this.vy;
        this.opacity += this.dop;
        if (this.opacity > 1) {
          this.opacity = 1;
          this.dop *= -1;
        }
        if (this.opacity < 0 || this.y > this.ymax) {
          this.replace();
        }
        if (!((0 < (ref = this.x) && ref < this.xmax))) {
          this.x = (this.x + this.xmax) % this.xmax;
        }
        return drawCircle(~~this.x, ~~this.y, this.r, this.rgb + "," + this.opacity + ")");
      };

      return Confetti;

    })();

    confetti = (function() {
      var j, ref, results;
      results = [];
      for (i = j = 1, ref = NUM_CONFETTI; 1 <= ref ? j <= ref : j >= ref; i = 1 <= ref ? ++j : --j) {
        results.push(new Confetti);
      }
      return results;
    })();

    window.step = function() {
      var c, j, len, results;
      requestAnimationFrame(step);
      context.clearRect(0, 0, w, h);
      results = [];
      for (j = 0, len = confetti.length; j < len; j++) {
        c = confetti[j];
        results.push(c.draw());
      }
      return results;
    };

    step();

  }

  $(document).ready(function() {
    
    var $body = $('body');

    var map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 25.6768691, lng: -80.2731083 },
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.HYBRID,
      disableDefaultUI: true
    });

    var watchID = null;
    var currentLocationMarker;

    // PhoneGap is ready
    //
    function startWatching() {
      // Update every 1 ms seconds
      var options = {
        enableHighAccuracy: true, 
        timeout: 5000,
        maximumAge: 0,
        desiredAccuracy: 0, 
        frequency: 1 
      };
      watchID = navigator.geolocation.watchPosition(onSuccess, onError, options);
    }

    // onSuccess Geolocation
    //
    function onSuccess(position) {

      var currentLocationMarkerData = {
        position: { lat: position.coords.latitude, lng: position.coords.longitude },
        map: map,
        icon: '<%= image_url('current-location-icon.png') %>'
      };

      if( currentLocationMarker != null ) {
        currentLocationMarker.setMap(null);
      }

      currentLocationMarker = new google.maps.Marker(currentLocationMarkerData);
    }

    // clear the watch that was started earlier
    // 
    function clearWatch() {
      if (watchID != null) {
          navigator.geolocation.clearWatch(watchID);
          watchID = null;
      }
      if( currentLocationMarker != null ) {
        currentLocationMarker.setMap(null);
      }
    }

    // onError Callback receives a PositionError object
    //
    function onError(error) {
      alert('code: '    + error.code    + '\n' +
            'message: ' + error.message + '\n');
    }

    startWatching();

    var markers = [];
    setMarkersOnMap(map);


    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
    }

    function setMarkersOnMap(map) {

      $.ajax({
        url: '/dashboard/get_hunt_tasks',
        data: { hunt_id: <%= params[:hunt] %> }
      }).done(function(data) {

        var total_tasks = data.tasks.length;
        var total_tasks_done = data.done_task_ids.length;
        var total_percent_done = Math.ceil(total_tasks_done / total_tasks * 100);
        $('.progress-bar .progress').css('width', total_percent_done+'%');

        if( total_percent_done == 100 ) {
          show_confetti();
        }

        clearMarkers();

        $.each(data.tasks, function(i, task) {

          var lat = parseFloat(task.geo.split(',')[0]);
          var lng = parseFloat(task.geo.split(',')[1]);

          if( data.done_task_ids.indexOf(task.id) > -1 ) {
            var markerIcon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
          } else {
            var markerIcon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
          }

          var markerData = {
            position: { lat: lat, lng: lng },
            map: map,
            title: task.name,
            taskName: task.name,
            taskId: task.id,
            icon: markerIcon
          };

          var marker = new google.maps.Marker(markerData);
          markers.push(marker);

          marker.addListener('click', function() {
            
            $('#show-task-view h1.title').html(markerData.taskName);

            $.ajax({
              url: '/dashboard/get_task_view',
              data: { task_id: markerData.taskId }
            }).done(function(task_html_partial) {
              
              $('#show-task-view .content').html(task_html_partial);
              $('#show-task-view').addClass('active');

            });

          });

        });

      });

    }

    // mark task as done
    $body.on('click', 'button.js-mark-as-done', function(e) {
      e.preventDefault();

      var $button = $(this);

      if( $button.hasClass('disabled') )
        return false;

      $button.addClass('disabled');

      $.ajax({
        type: 'POST',
        url: '/dashboard/mark_task_as_done',
        data: { 
          task_id: $button.data('task-id') 
        }
      }).done(function(task_html_partial) {
        
        setMarkersOnMap(map);
        $('#show-task-view').removeClass('active');
        $('.js-open-task[data-task-id="'+$button.data('task-id')+'"] .badge').removeClass('badge-primary').addClass('badge-positive').html('Done');

      });

    });

    $body.on('click', 'a.js-show-current-location', function(e) {
      e.preventDefault();

      if( currentLocationMarker != null ) {

        var center = new google.maps.LatLng(currentLocationMarker.position.lat(), currentLocationMarker.position.lng());
        map.panTo(center);

      }

    });

    $body.on('click', 'a.js-open-task', function(e) {
      e.preventDefault();

      var $button = $(this);
      var taskId = $(this).data('task-id');

      $.ajax({
        url: '/dashboard/get_task_view',
        data: { task_id: taskId }
      }).done(function(task_html_partial) {
        
        $('#show-task-view h1.title').html($button.find('span.task-name').html());
        $('#show-task-view .content').html(task_html_partial);
        $('#show-task-view').addClass('active');

      });

    });

    $body.on('click', '.js-toggle-map-list', function(e) {
      e.preventDefault();

      if( $(this).data('showing') == 'map' ) {
        $('.show-map-view').hide();
        $('.show-list-view').show();
        $(this).data('showing', 'list').html('Map');
      } else {
        $('.show-list-view').hide();
        $('.show-map-view').show();
        $(this).data('showing', 'map').html('List');
      }

    });

  });

</script>

<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a href="/challenge" class="icon icon-left-nav pull-left" data-ignore="push"></a>
  <h1 class="title"><%= @hunt.name %></h1>
  <a href="#" class="btn pull-right js-toggle-map-list" data-showing="map" data-ignore="push">
    List
  </a>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  
  <div class="show-map-view" style="height: 100%;">
    <div id="map" style="height: 100%"></div>
  </div>

  <div class="show-list-view" style="display: none;">
    <ul class="table-view">

      <% @hunt.tasks.each do |task| %>
        <li class="table-view-cell js-open-task">
          <a href="#" class="js-open-task" data-task-id="<%= task.id %>" data-ignore="push">
            <% if @done_task_ids.include?(task.id) %>
              <span class="badge badge-positive">Done</span>
            <% else %>
              <span class="badge badge-primary">Missing</span>
            <% end %>
            <span class="task-name">
              <%= task.name %> 
            </span>
          </a>
        </li>
      <% end %>

    </ul>  
  </div>

</div>

<div class="bar bar-standard bar-footer">
  
  <div class="location">
    <a href="#" class="btn btn-link js-show-current-location">
      <i class="fa fa-location-arrow"></i>
    </a>
  </div>

  <div class="progress-bar">
    <div class="progress"></div>
  </div>

</div>


<div id="show-task-view" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#show-task-view"></a>
    <h1 class="title"></h1>
  </header>

  <div class="content">
    
  </div>
</div>