<style>
  #map {
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }

  .error {
    display: none;
    background-color: #f2dede;
    border-radius: 5px;
    padding: 2px;
  }

  .form-group {
    border-bottom: 1px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin: 0;
  }

  .form-horizontal {
    width:100%;
  }

  .search {
    float:right;
  }

  .form-control {
    float: right;
  }

  .control-label {
    float: left;
    text-align: left;
    padding-left: 0px;
  }

  .block-right {
    float: right;
    height: 500px;
    width: 500px;
  }

  .text-area {
    height: 200px;
  }
</style>

<%= form_for(@task, html: { class: "form-horizontal input-group", role: "form" }) do |f| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="error">Not found. Please try a different name</div>
    <%= f.label :name, class: "control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
      <button name="search" class="btn btn-primary search" type="button" style="margin-top: 5px">Search</button>
    </div>
  </div>
     
  
  <div class="form-group ">
    <%= f.label :geo, class: "control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :geo, class: "form-control" %>
    </div>
  </div>

  <div class="form-group ">
    <label class="control-label">Map</label>
    <div id="map" class="block-right"></div>
  </div>
  
  <div class="form-group ">
    <label class="control-label">Image</label>
    <img src="<%= @task.image %>" class="block-right">
  </div>

  <div class="form-group">
    <%= f.label :claim_type, class: " control-label" %>
    <div class="col-sm-10">
      <%= f.select :claim_type, options_for_select(Task.claim_types), {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Image Url", class: " control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :image, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :hunt_id, class: " control-label" %>
    <div class="col-sm-10">
      <%= f.select :hunt_id, options_for_select(Task.hunt_options, @task.default_hunt_option), {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: " control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control text-area" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var markers = []
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 25.677192302730536, lng: -80.27254343043751},
      zoom: 16
  });

    // var marker = new google.maps.Marker({
    //   position: myLatLng,
    //   map: map,
    //   title: 'Hello World!'
    // });

    google.maps.event.addListener(map, 'click', function(event) {
      clearMarkers();
      marker = new google.maps.Marker({position: event.latLng, map: map});
      $("input#task_geo").val(event.latLng)
      markers.push(marker);
    });

    // Sets the map on all markers in the array.
    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
      setMapOnAll(null);
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClG3delsA9nPWuaYzJ_XJXYDyK8W4-Uc0&amp;callback=initMap" async defer></script>

<script>
$(document).ready(function() {
  var search = $('button[name="search"]');
  var img = $('img');
  var descr = $('textarea[name="task[description]"]');
  var imgUrl = $('input[name="task[image]"]');
  var name = $('input[name="task[name]"]');
  var errorDiv = $('.error');
  search.on('click', function(evt) {
    errorDiv.hide();
    $.get('/search_wiki?query=' + name.val(), function(data) {
      if (data['success']) {
        img.attr('src', data['image']);
        imgUrl.val(data['image']);
        var descrObj = data['excerpt']['query']['pages'];
        var key = Object.keys(descrObj)[0];
        descr.val(descrObj[key]['extract']);
      } else {
        errorDiv.show();
        descr.val('');
        imgUrl.val('');
        img.attr('src', '');
      }
    });
  });
});
</script>
