<div class="page-header">
  <%= link_to new_hunt_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Hunt
  <% end %>
  <h1>Listing hunts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @hunts) do |hunt| %>
            <td><%= hunt.name %></td>
            <!-- this is where we'd add the image helper -->
            <td><%= image_tag "#{hunt.image}" %></td>
            <td><%= hunt.description %></td>
            <td><%= link_to 'Show', hunt %></td>
        <td><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
        <td><%= link_to 'Destroy', hunt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
