<div class="page-header">
  <%= link_to new_hunt_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Hunt
  <% end %>
  <h1>Hunt Listings</h1>
</div>

<div class="row">
  <% @hunts.each do |hunt| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="hunt___container">
        <div class="hunt__name">
          <h2><%= hunt.name %></h2>
        </div>
        <div class="hunt__desc">
          <p><%= hunt.description %></p>
        </div>
        <div class="hunt__image">
          <%= image_tag "#{hunt.image}" %>
        </div>
        <div class="hunt__buttons">
          <%= link_to 'Show', hunt %>
          <%= link_to 'Edit', edit_hunt_path(hunt) %>
          <%= link_to 'Destroy', hunt, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>