<div class="page-header">
  <%= link_to hunts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_hunt_path(@hunt), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show hunt</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @hunt.name %></dd>

  <dd><%= image_tag "#{@hunt.image}", size: "500" %></dd>

  <dt>Description:</dt>
  <dd><%= @hunt.description %></dd>
</dl>

<table class="table">
  <th>Task Name</th>
  <% @hunt.tasks.each do |task| %>
    <tr>
      <td>
        <%= task.name %>
      </td> 
    </tr>
    
  <% end %>
</table>

<%= link_to 'New Task', new_task_path %>

